---
import { siteConfig as conf } from "../../lib/Config";
---

<footer class="mt-6 text-base-600">
  <span>© {conf.author.name} 2025</span><p></p>
  <span><a class="underline decoration-dotted" href="/about-site">About this site.</a></span>
</footer>
