<div
  class="dark:prose-invert max-w-100 prose text-base-black dark:text-base-200 prose-h3:mb-1 prose-h3:mt-3 prose-h3:text-xl prose-h3:font-bold prose-p:mb-[0.1em] prose-p:tracking-normal prose-ol:my-3 prose-ol:list-decimal prose-ul:my-3 prose-ul:list-disc prose-img:rounded-xl text-pretty"
>
  <slot />
</div>
